.footer{
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    color: #1E2D40;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-style: normal;
}
.footer img{
    width: 15px;
    height: 15px;
}

.footerMusica{
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    color: #1E2D40;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-style: normal;
}
.footerMusica img{
    width: 15px;
    height: 15px;
}

.footerGaleria{
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    color: #1E2D40;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-style: normal;
}
.footerGaleria img{
    width: 15px;
    height: 15px;
}
