.logo{
    font-family:  'Times New Roman', Times, serif;
    font-size: 60px;
    border-radius: 15px;
    color: #1E2D40;
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    mix-blend-mode: multiply;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
    }

.logoMusica {
    font-family:  'Times New Roman', Times, serif;
    font-size: 60px;
    border-radius: 15px;
    color: #1E2D40;
    mix-blend-mode: multiply;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    }

.logoGaleria {
    font-family:  'Times New Roman', Times, serif;
    font-size: 60px;
    border-radius: 15px;
    color: #1E2D40;
    mix-blend-mode: multiply;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(204,217,214,1) 72%, rgba(30,45,64,1) 100%);
    }

.logoDestino {
    font-family:  'Times New Roman', Times, serif;
    font-size: 60px;
    color: #1E2D40;
    mix-blend-mode: multiply;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(204, 217, 214) 72%, rgb(30, 45, 64) 100%);
    }
   
