//*colores///
$colorlogo: #1E2D40;


@import "resset";
@import "logo";
@import "footer";
@import "navbar";
@import "fotoPortada";




/*Pagina de Galeria de Imagenes*/
/*"Galerias seria la targeta padre y "Galeria1" la hija*/

.Galerias{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    text-align: justify;
    align-items: center;
}
.Galeria1 img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;    
}

/*Edision de las imagenes de ArticulosMusica*/
.ArticulosMusica img{
    width: 500px;
    border-radius: 10px;
}
/*Tarjetas de ArticulosMusica*/
.ArticuloMusica1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica2{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica3{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica4{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica5{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica6{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica7{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica8{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}

.ArticulosMusica{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/*El @ media es para Dispositivos de 600px pagina Musica*/
/*Esta armado para verlo con un tamaño de 590x510*/
@media(max-width:600px){
    .ArticulosMusica img{
        margin-bottom: 5px;
        font-size: small;
    }
    .logoMusica{
        color: black;
        background:linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
    }
    .ArticulosMusica{
        text-align: justify;  
    }     
    .navegadorMusica{
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    top: 150px; 
    width: 100%;
    }
    .navegadorMusica > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    }
    .navegadorMusica > ul > li:hover ul {
    display: block;
    }
    .navegadorMusica ul li a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    justify-items: center;
    }
    .navegadorMusica > ul > li {
    position: relative;
    }
    .navegadorMusica > ul > li > ul {
    display: none;
    position: absolute;
    list-style-type: none;
    
    width: 100%;
    left: 5px;
    }
    .footerMusica{
        background: linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
        color: black;
        padding: 5px;
        display: flex;
        justify-content: center;
        font-style: normal;
    }
    .footerMusica img{
        width: 15px;
        height: 15px;
    }
}

/*Pagina de Galeria de Imagenes*/
/*"Galerias seria la targeta padre y "Galeria1" la hija*/

.Galerias{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    text-align: justify;
    align-items: center;
}
.Galeria1 img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;    
}

/*Edision de las imagenes de ArticulosMusica*/
.ArticulosMusica img{
    width: 500px;
    border-radius: 10px;
}
/*Tarjetas de ArticulosMusica*/
.ArticuloMusica1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica2{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica3{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica4{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica5{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica6{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica7{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica8{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}

.ArticulosMusica{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/*El @ media es para Dispositivos de 600px pagina Musica*/
/*Esta armado para verlo con un tamaño de 590x510*/
@media(max-width:600px){
    .ArticulosMusica img{
        margin-bottom: 5px;
        font-size: small;
    }
    .logoMusica{
        color: black;
        background:linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
    }
    .ArticulosMusica{
        text-align: justify;  
    }     
    .navegadorMusica{
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    top: 150px; 
    width: 100%;
    }
    .navegadorMusica > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    }
    .navegadorMusica > ul > li:hover ul {
    display: block;
    }
    .navegadorMusica ul li a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    justify-items: center;
    }
    .navegadorMusica > ul > li {
    position: relative;
    }
    .navegadorMusica > ul > li > ul {
    display: none;
    position: absolute;
    list-style-type: none;
    
    width: 100%;
    left: 5px;
    }
    .footerMusica{
        background: linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
        color: black;
        padding: 5px;
        display: flex;
        justify-content: center;
        font-style: normal;
    }
    .footerMusica img{
        width: 15px;
        height: 15px;
    }
}


/*Pagina de Galeria de Imagenes*/
/*"Galerias seria la targeta padre y "Galeria1" la hija*/

.Galerias{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
    text-align: justify;
    align-items: center;
}
.Galeria1 img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;    
}

/*Edision de las imagenes de ArticulosMusica*/
.ArticulosMusica img{
    width: 500px;
    border-radius: 10px;
}
/*Tarjetas de ArticulosMusica*/
.ArticuloMusica1{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica2{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica3{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica4{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica5{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica6{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica7{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}
.ArticuloMusica8{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 15px;
}

.ArticulosMusica{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
/*El @ media es para Dispositivos de 600px pagina Musica*/
/*Esta armado para verlo con un tamaño de 590x510*/
@media(max-width:600px){
    .ArticulosMusica img{
        margin-bottom: 5px;
        font-size: small;
    }
    .logoMusica{
        color: black;
        background:linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
    }
    .ArticulosMusica{
        text-align: justify;  
    }     
    .navegadorMusica{
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    top: 150px; 
    width: 100%;
    }
    .navegadorMusica > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    }
    .navegadorMusica > ul > li:hover ul {
    display: block;
    }
    .navegadorMusica ul li a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    justify-items: center;
    }
    .navegadorMusica > ul > li {
    position: relative;
    }
    .navegadorMusica > ul > li > ul {
    display: none;
    position: absolute;
    list-style-type: none;
    
    width: 100%;
    left: 5px;
    }
    .footerMusica{
        background: linear-gradient(90deg, rgba(217,123,41,1) 63%, rgba(115,48,66,1) 100%);
        color: black;
        padding: 5px;
        display: flex;
        justify-content: center;
        font-style: normal;
    }
    .footerMusica img{
        width: 15px;
        height: 15px;
    }
}
